<dl class="icons">
    <dt class="icons--title">
        <span>
            <input id="icon-search-text" type="search" placeholder="Filter icons" />
        </span>
        <button id="icon-search" uxp-variant="action" title="Search">
            <img src="./images/filter.png" />
        </button>
        <button id="icon-list-view-toggle" uxp-variant="action" title="Toggle list/grid view">
            <img src="./images/icon_24x24.png" />
        </button>
    </dt>
    <dd class="icons--content">
        <ul class="icons--list">
            <!-- Icons -->
        </ul>
    </dd>
</dl>