<style>
    /* ### Styles ### */
</style>

<div id="main">
    <div class="content">
        <div id="icons">
            <div class="icons">
                <div class="icons--title">
                    <span>
                        <input id="icon-search-text" placeholder="Search icons" />
                    </span>
                    <button id="icon-search" uxp-variant="action" title="Search">
                        <img src="./images/magnify.png" />
                    </button>
                </div>
                <div style="margin-top:0;">
                    <p id="warn" class="hide">First 25 shown</p>
                    <p id="err" class="hide">None found</p>
                </div>
                <div class="icons--content">
                    <ul class="icons--list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-about">
            <a href="https://materialdesignicons.com">MDI</a> &bull; Copyright &copy; 2021<a href="https://uxerscode.com">uxerscode</a>
        </div>
        <div class="footer-version">
            Version 1.0.0
        </div>
    </div>
</div>
