<style>
    /* ### Styles ### */
</style>

<div id="main">
    <div class="content">
        <div id="icons">
            <div class="icons">
                <div class="icons--title">
                    <form>
                        <input id="icon-search-text" type="search" class="search" placeholder="Search icons" />
                    </form>
                    <button id="icon-search" uxp-variant="action" title="Search">
                        <img src="./images/magnify.png" />
                    </button>
                    <button id="icon-toggle" uxp-variant="action" title="Toggle list and grid">
                        <img src="./images/view-grid.png" />
                    </button>
                </div>
                <div style="margin-top:0;display:flex;">
                    <span id="msg" class="msg" style="padding:10px 0;">Enter search criteria</span>
                    <span class="sep"></span>
                    <button id="btn-prev-disabled" uxp-variant="action" class="hide" disabled title="Previous group">
                        <img src="./images/prev.png" />
                    </button>
                    <button id="btn-prev" uxp-variant="action" class="hide" title="Previous group">
                        <img src="./images/prev.png" />
                    </button>
                    <button id="btn-next-disabled" uxp-variant="action" class="hide" disabled title="Next group">
                        <img src="./images/next.png" />
                    </button>
                    <button id="btn-next" uxp-variant="action" class="hide" title="Next group">
                        <img src="./images/next.png" />
                    </button>
                </div>
                <div class="icons--content">
                    <ul id="icons-list" class="icons--list">
                        <li id="icon-0" class="hide"></li>
                        <li id="icon-1" class="hide"></li>
                        <li id="icon-2" class="hide"></li>
                        <li id="icon-3" class="hide"></li>
                        <li id="icon-4" class="hide"></li>
                        <li id="icon-5" class="hide"></li>
                        <li id="icon-6" class="hide"></li>
                        <li id="icon-7" class="hide"></li>
                        <li id="icon-8" class="hide"></li>
                        <li id="icon-9" class="hide"></li>
                        <li id="icon-10" class="hide"></li>
                        <li id="icon-11" class="hide"></li>
                        <li id="icon-12" class="hide"></li>
                        <li id="icon-13" class="hide"></li>
                        <li id="icon-14" class="hide"></li>
                        <li id="icon-15" class="hide"></li>
                        <li id="icon-16" class="hide"></li>
                        <li id="icon-17" class="hide"></li>
                        <li id="icon-18" class="hide"></li>
                        <li id="icon-19" class="hide"></li>
                        <li id="icon-20" class="hide"></li>
                        <li id="icon-21" class="hide"></li>
                        <li id="icon-22" class="hide"></li>
                        <li id="icon-23" class="hide"></li>
                        <li id="icon-24" class="hide"></li>
                        <li id="icon-25" class="hide"></li>
                        <li id="icon-26" class="hide"></li>
                        <li id="icon-27" class="hide"></li>
                        <li id="icon-28" class="hide"></li>
                        <li id="icon-29" class="hide"></li>
                        <li id="icon-30" class="hide"></li>
                        <li id="icon-31" class="hide"></li>
                        <li id="icon-32" class="hide"></li>
                        <li id="icon-33" class="hide"></li>
                        <li id="icon-34" class="hide"></li>
                        <li id="icon-35" class="hide"></li>
                        <li id="icon-36" class="hide"></li>
                        <li id="icon-37" class="hide"></li>
                        <li id="icon-38" class="hide"></li>
                        <li id="icon-39" class="hide"></li>
                        <li id="icon-40" class="hide"></li>
                        <li id="icon-41" class="hide"></li>
                        <li id="icon-42" class="hide"></li>
                        <li id="icon-43" class="hide"></li>
                        <li id="icon-44" class="hide"></li>
                        <li id="icon-45" class="hide"></li>
                        <li id="icon-46" class="hide"></li>
                        <li id="icon-47" class="hide"></li>
                        <li id="icon-48" class="hide"></li>
                        <li id="icon-49" class="hide"></li>
                        <li id="icon-50" class="hide"></li>
                        <li id="icon-51" class="hide"></li>
                        <li id="icon-52" class="hide"></li>
                        <li id="icon-53" class="hide"></li>
                        <li id="icon-54" class="hide"></li>
                        <li id="icon-55" class="hide"></li>
                        <li id="icon-56" class="hide"></li>
                        <li id="icon-57" class="hide"></li>
                        <li id="icon-58" class="hide"></li>
                        <li id="icon-59" class="hide"></li>
                        <li id="icon-60" class="hide"></li>
                        <li id="icon-61" class="hide"></li>
                        <li id="icon-62" class="hide"></li>
                        <li id="icon-63" class="hide"></li>
                        <li id="icon-64" class="hide"></li>
                        <li id="icon-65" class="hide"></li>
                        <li id="icon-66" class="hide"></li>
                        <li id="icon-67" class="hide"></li>
                        <li id="icon-68" class="hide"></li>
                        <li id="icon-69" class="hide"></li>
                        <li id="icon-70" class="hide"></li>
                        <li id="icon-71" class="hide"></li>
                        <li id="icon-72" class="hide"></li>
                        <li id="icon-73" class="hide"></li>
                        <li id="icon-74" class="hide"></li>
                        <li id="icon-75" class="hide"></li>
                        <li id="icon-76" class="hide"></li>
                        <li id="icon-77" class="hide"></li>
                        <li id="icon-78" class="hide"></li>
                        <li id="icon-79" class="hide"></li>
                        <li id="icon-80" class="hide"></li>
                        <li id="icon-81" class="hide"></li>
                        <li id="icon-82" class="hide"></li>
                        <li id="icon-83" class="hide"></li>
                        <li id="icon-84" class="hide"></li>
                        <li id="icon-85" class="hide"></li>
                        <li id="icon-86" class="hide"></li>
                        <li id="icon-87" class="hide"></li>
                        <li id="icon-88" class="hide"></li>
                        <li id="icon-89" class="hide"></li>
                        <li id="icon-90" class="hide"></li>
                        <li id="icon-91" class="hide"></li>
                        <li id="icon-92" class="hide"></li>
                        <li id="icon-93" class="hide"></li>
                        <li id="icon-94" class="hide"></li>
                        <li id="icon-95" class="hide"></li>
                        <li id="icon-96" class="hide"></li>
                        <li id="icon-97" class="hide"></li>
                        <li id="icon-98" class="hide"></li>
                        <li id="icon-99" class="hide"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-about">
            <a href="https://materialdesignicons.com">MDI</a>&nbsp;&bull; &copy; 2021&nbsp;<a
                href="https://uxerscode.com">uxerscode</a>
        </div>
        <div class="footer-version">
            v 1.1.0
        </div>
    </div>
</div>