<style>
    /* ### Styles ### */
</style>

<div id="main">
    <div class="content">
        <div id="icons">
            <div class="icons">
                <div class="icons--title">
                    <span>
                        <input id="icon-search-text" placeholder="Search icons" />
                    </span>
                    <button id="icon-search" uxp-variant="action" title="Search">
                        <img src="./images/magnify.png" />
                    </button>
                </div>
                <div style="margin-top:0;">
                    <p id="err" class="hide">None found</p>
                </div>
                <div class="icons--content">
                    <ul id="icons--list">
                        <li id="icon-0" class="hide"></li>
                        <li id="icon-1" class="hide"></li>
                        <li id="icon-2" class="hide"></li>
                        <li id="icon-3" class="hide"></li>
                        <li id="icon-4" class="hide"></li>
                        <li id="icon-5" class="hide"></li>
                        <li id="icon-6" class="hide"></li>
                        <li id="icon-7" class="hide"></li>
                        <li id="icon-8" class="hide"></li>
                        <li id="icon-9" class="hide"></li>
                        <li id="icon-10" class="hide"></li>
                        <li id="icon-11" class="hide"></li>
                        <li id="icon-12" class="hide"></li>
                        <li id="icon-13" class="hide"></li>
                        <li id="icon-14" class="hide"></li>
                        <li id="icon-15" class="hide"></li>
                        <li id="icon-16" class="hide"></li>
                        <li id="icon-17" class="hide"></li>
                        <li id="icon-18" class="hide"></li>
                        <li id="icon-19" class="hide"></li>
                        <li id="icon-20" class="hide"></li>
                        <li id="icon-21" class="hide"></li>
                        <li id="icon-22" class="hide"></li>
                        <li id="icon-23" class="hide"></li>
                        <li id="icon-24" class="hide"></li>
                        <li id="icon-25" class="hide"></li>
                        <li id="icon-26" class="hide"></li>
                        <li id="icon-27" class="hide"></li>
                        <li id="icon-28" class="hide"></li>
                        <li id="icon-29" class="hide"></li>
                        <li id="icon-30" class="hide"></li>
                        <li id="icon-31" class="hide"></li>
                        <li id="icon-32" class="hide"></li>
                        <li id="icon-33" class="hide"></li>
                        <li id="icon-34" class="hide"></li>
                        <li id="icon-35" class="hide"></li>
                        <li id="icon-36" class="hide"></li>
                        <li id="icon-37" class="hide"></li>
                        <li id="icon-38" class="hide"></li>
                        <li id="icon-39" class="hide"></li>
                        <li id="icon-40" class="hide"></li>
                        <li id="icon-41" class="hide"></li>
                        <li id="icon-42" class="hide"></li>
                        <li id="icon-43" class="hide"></li>
                        <li id="icon-44" class="hide"></li>
                        <li id="icon-45" class="hide"></li>
                        <li id="icon-46" class="hide"></li>
                        <li id="icon-47" class="hide"></li>
                        <li id="icon-48" class="hide"></li>
                        <li id="icon-49" class="hide"></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer-about">
            <a href="https://materialdesignicons.com">MDI</a>&nbsp;&bull; &copy; 2021&nbsp;<a href="https://uxerscode.com">uxerscode</a>
        </div>
        <div class="footer-version">
            v 1.0.0
        </div>
    </div>
</div>
