button {
  margin: 0;
}

.icons {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 150px);
  border-radius: 4px;
  margin: 0;
  padding: 0;
}

.icons--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
}

.icons--title span {
  flex: 1;
}

.icons--title span input {
  width: 100%;
  margin: 0;
}

.icons--title button {
  flex: 0;
  margin-right: 8px;
}

.icons--content {
  padding: 0 0 16px;
  flex: 1;
  overflow: auto;
}

.search {
  width: 85%;
}

.msg {
  width: 175px;
}

.sep {
  margin-right: 10px;
}

.icons--list {
  display: flex;
  flex-wrap: wrap;
}

.icon--item {
  margin: 2px;
  padding: 8px;
  line-height: 24px;
  background: #FFF;
  border: 1px solid rgba(255, 87, 34, 1);
  border-radius: 4px;
  width: 125px;
  cursor: pointer;
  display: inline-flex;
}

.icon--item-grid {
  width: 40px;
}

.icon--item-list {
  width: 105px;
}

.icon--item.google {
  border-color: white;
}

.icon--item:hover {
  color: white;
  background: #555;
  cursor: pointer;
}

.icon--sample {
  height: 24px;
  width: 24px;
  border-radius: 12px;
  margin-right: 8px;
}

.icon--label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px 0 8px;
  border-top: 1px solid #CCC;
}

form {
  width: 90%;
  margin: -20px;
  padding: 0px;
}

.footer-about {
  flex: 1;
  margin-right: 16px;
}

.break {
  flex-wrap: wrap;
}

.show {
  display: block;
}

.hide {
  display: none;
}